{% extends 'base.html.twig' %}

{% block title %}
    Edit | {{ parent() }}
{% endblock %}

{% block body %}
    <div>
        <h1>Editer campus</h1>
        {{ form(form) }}
    </div>
{% endblock %}



