{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-whitesmoke">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12">
                    <div class="text-center m-0 d-flex flex-column justify-content-center align-items-center text-primary hero-content">
                        <h1 class="display-4">Trips at&nbsp;ENI</h1>
                        <p class="lead"> sorties organisées !</p>
                        <div>
                            <a class="btn btn-lg btn-primary mt-3" href="" title="Voir toutes les sorties">Voir toutes les sorties !</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}{{ parent() }} | Home{% endblock %}